@font-face {
  font-family: KumbhSans;
  src: url(../fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(25,161,173);
  font-family: KumbhSans;
  font-size: 18px;
}
p {
  margin: 0;
}